<nav class="navbar">
  <div class="header">
    <section class="logo">
      <img
        class="icon-logo"
        src="https://media.stickerswiki.app/reddit_pack/1756756.512.webp"
        alt=""
      />
      <span class="label-logo"
        ><a class="link-to-homepage" href="http://localhost:3000/"
          >redge</a
        ></span
      >
    </section>

    <section class="search-bar">
      <span class="material-symbols-outlined search-icon"> search </span>
      <input
        class="search-input"
        type="text"
        placeholder="This does nothing atm"
      />
    </section>

    <section class="nav-buttons">
      <button class="log-in-btn">Log In</button>
    </section>
  </div>
</nav>
