<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include("partials/navbar") %>
    <main>
      <h2 class="greetings">Hello! Welcome to the home page!</h2>
      <p>
        This is a small project to practice EJS and express. There are data for
        3 different "subreddits" and I'm using a single .ejs file to render all
        3 subreddits (template). Here they are:
      </p>
      <div class="subreddits-list">
        <span class="sub sub-1"
          ><a href="http://localhost:3000/r/silksong">/r/Silksong</a></span
        >
        <span class="sub sub-2"
          ><a href="http://localhost:3000/r/oldschoolcool"
            >/r/OldSchoolCool</a
          ></span
        >
        <span class="sub sub-3"
          ><a href="http://localhost:3000/r/setups">/r/setups</a></span
        >
      </div>
    </main>
  </body>
</html>
