<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <main>
      <div class="message-div">
        <img
          class="sadE"
          src="https://media.stickerswiki.app/reddit_pack/1756684.512.webp"
          alt=""
        />

        <h2 class="message">Page not found!</h2>
      </div>
    </main>
  </body>
</html>
