<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/noPageFound.css" />
    <title>Sorry</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="header">
        <section class="logo">
          <img
            class="icon-logo"
            src="https://media.stickerswiki.app/reddit_pack/1756756.512.webp"
            alt=""
          />
          <span class="label-logo">redge</span>
        </section>

        <section class="nav-buttons">
          <button class="log-in-btn">Log In</button>
        </section>
      </div>
    </nav>

    <main>
      <div class="message-div">
        <img
          class="sadE"
          src="https://media.stickerswiki.app/reddit_pack/1756684.512.webp"
          alt=""
        />

        <h2 class="message">Page not found!</h2>
      </div>
    </main>
  </body>
</html>
