body {
  position: relative;
  background-color: #0e1113;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  color: white;
  margin: 0;
}

main {
  height: 100%;
  margin: 0 auto;
  max-width: 90%;
}

.navbar {
  padding: 6px;
  border-bottom: 1px solid #464c4e;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.icon-logo {
  width: 2.7rem;
  margin-right: 2.5px;
}

.label-logo {
  font-size: 2rem;
  font-weight: 800;
}

.log-in-btn {
  background-color: #d93900;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.8rem 0.75rem 0.8rem;
  font-weight: 600;
  border-radius: 20px;
}

.subreddits {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  max-width: 40%;
  margin: 0 auto;
}

.sub {
  margin-bottom: 20px;
}
