.subreddits-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  max-width: 40%;
  margin: 0 auto;
}

.sub {
  margin-bottom: 20px;
}
